{% extends 'base.html' %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to tweeter, sing your song!</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div id='tweets' class='row'>
    Loading...
</div>

<script>

function handleTweetFormDidSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute('action')
    const method = myForm.getAttribute('method')
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if(xhr.status === 201) {
            const newTweet = xhr.response
            const newTweetElement = formatTweetElement(newTweet)

        }
        const tweetsEl = document.getElementById('tweets')
        loadTweets(tweetsEl)
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById("tweet-create-form")
tweetCreateFormEl.addEventListener('submit', )

const tweetsEl = document.getElementById('tweets')

const loadTweets = (tweetsElement) => {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var currentItem = formatTweetEl(listedItems[i])
            finalTweetStr += currentItem
        }

        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
}

loadTweets(tweetsEl)

function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
    currentCount++
}

function LikeBtn(tweet) {
    return `<button class="btn btn-sm btn-primary" onclick="handleDidLike(${tweet.id}, ${tweet.likes})">${tweet.likes} Like</button>`
}

function formatTweetEl(tweet) {
    var formattedTweet =
        `<div id='tweet-${tweet.id}' class='col-12 col-md-10 mx-auto border-top border-bottom py-3 mb-4 tweet'>
            <p>
                ${tweet.content}
            </p>
            <div class='btn-group'>
                ${LikeBtn(tweet)}
            </div>
        </div>`
    return formattedTweet
}

</script>

{% endblock content %}
